.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 937px;
}

.u-section-1 .u-blog-1 {
  margin-top: 79px;
  margin-bottom: 30px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 828px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 29px;
}

.u-section-1 .u-image-1 {
  width: 535px;
  left: 29px;
  right: auto;
}

.u-section-1 .u-text-1 {
  margin: 32px 1px 0 567px;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 11px 297px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 53px 0 0 567px;
}

.u-section-1 .u-btn-1 {
  animation-duration: 1000ms;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 36px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 29px;
}

.u-section-1 .u-image-2 {
  width: 535px;
  left: 29px;
  right: auto;
}

.u-section-1 .u-text-3 {
  margin: 32px 1px 0 567px;
}

.u-section-1 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 11px 297px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 53px 0 0 567px;
}

.u-section-1 .u-btn-2 {
  animation-duration: 1000ms;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 36px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 29px;
}

.u-section-1 .u-image-3 {
  width: 535px;
  left: 29px;
  right: auto;
}

.u-section-1 .u-text-5 {
  margin: 32px 1px 0 567px;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 11px 297px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 53px 0 0 567px;
}

.u-section-1 .u-btn-3 {
  animation-duration: 1000ms;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 36px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-blog-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 406px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -407px;
    margin-right: 178px;
    margin-left: 450px;
  }

  .u-section-1 .u-metadata-1 {
    width: auto;
    margin-right: 97px;
    margin-left: 450px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 450px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 450px;
    letter-spacing: normal;
  }

  .u-section-1 .u-image-2 {
    width: 406px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -407px;
    margin-right: 178px;
    margin-left: 450px;
  }

  .u-section-1 .u-metadata-2 {
    width: auto;
    margin-right: 97px;
    margin-left: 450px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 450px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 450px;
    letter-spacing: normal;
  }

  .u-section-1 .u-image-3 {
    width: 406px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -407px;
    margin-right: 178px;
    margin-left: 450px;
  }

  .u-section-1 .u-metadata-3 {
    width: auto;
    margin-right: 97px;
    margin-left: 450px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 450px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 450px;
    letter-spacing: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-blog-1 {
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .u-section-1 .u-image-1 {
    width: 661px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 37px;
    margin-right: 167px;
    margin-left: -1px;
  }

  .u-section-1 .u-metadata-1 {
    margin-right: 0;
    margin-left: -1px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -1px;
  }

  .u-section-1 .u-image-2 {
    width: 661px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 37px;
    margin-right: 167px;
    margin-left: -1px;
  }

  .u-section-1 .u-metadata-2 {
    margin-right: 0;
    margin-left: -1px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -1px;
  }

  .u-section-1 .u-image-3 {
    width: 661px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 37px;
    margin-right: 167px;
    margin-left: -1px;
  }

  .u-section-1 .u-metadata-3 {
    margin-right: 0;
    margin-left: -1px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: -1px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-blog-1 {
    margin-top: 53px;
    margin-bottom: 53px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 535px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 43px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 535px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 43px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 535px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 43px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-3 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-blog-1 {
    margin-top: 51px;
    margin-bottom: 51px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
    margin-right: 68px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-right: 68px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 30px;
    margin-right: 68px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: auto;
  }
}